.card:nth-child(-n+3) {
	grid-column-end: span 6;
}

.card:nth-child(n+3) {
	grid-column-end: span 6;
}

@media only screen and (min-width: 640px) {
	.card:nth-child(-n+3) {
		grid-column-end: span 3;
	}
	
	.card:nth-child(n+3) {
		grid-column-end: span 3;
	}

	.card-thumbnail {
		margin: 0 0 30px;
	}
}

@media only screen and (min-width: 960px) {
	.card:nth-child(-n+3) {
		grid-column-end: span 3;
	}

	.card:nth-child(n+3) {
		grid-column-end: span 2;
	}
}