.footer {
	width: 100%;
	height: auto;
	margin: 100px 0 0;
	display: flex;
	flex-direction: column;
}

.socials {
	width: auto;
	height: auto;
	margin: 0 0 10px;
	display: flex;
}

.socials > a {
	margin: 0 10px 0 0;
}

.socials > a:last-child {
	margin: 0;
}

@media only screen and (min-width: 720px) {
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}

	.socials {
		margin: 0;
	}
}

@media only screen and (min-width: 960px) {
	.footer {
		margin: 140px 0 0;
	}
	.socials > a {
		margin: 0 20px 0 0;
	}
}