html, body, div, h1, h2, h3, p, img, a {
	position: relative;

	outline: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	appearance: none;

	font-family: Inter, Roboto, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;

	background-color: transparent;
	color: #FFF;

	background-size: cover;
	background-position: 50%;

	display: block;
	z-index: 0;
}

html, body {
	width: 100%;
	height: auto;
	background-color: #000;
}

.splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	z-index: 10;
	opacity: 0;
	transition: opacity .5s ease-out;
}

.splash.on {
	opacity: 1;
}

.splash-logo {
	width: auto;
	height: 60px;
}

.app {
	width: 100%;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 90px 20px 0;
}

h1 {
	font-size: 48px;
	font-weight: 600;
	line-height: 1.25;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 400;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.618;
}

.hero {
	max-width: 85%;
	height: auto;
	padding: 18% 0;
	margin: -30px 0 0;
	display: flex;
	align-items: center;
	/* opacity: 1;
	transform: translateY(0px);
	animation-name: fade-up;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0,.5,0,1); */
}

@media only screen and (min-width: 640px) {
	.content {
		padding: 116px 30px 0;
	}

	.hero {
		max-width: 75%;
		margin: -40px 0 0;
	}

	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 24px;
		font-weight: 600;
	}
	
	h3 {
		font-size: 24px;
	}
	
	p {
		font-size: 20px;
	}
}